body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: burlywood;
}
#imageCanvas {
  border: 2px solid black;
  cursor: none;
}

#sidebyside {
  display: flex;
}
